body {
  background-image: url("../img/backgroundFireEmblemAwakening.jpg");
}

#searchchar {
  display: block;
  width: 300px;
}

#charList {
  margin-top: 0;
  padding: 0;
  width: 300px;
  list-style-type: none;
  border: 1px solid #c3c3c3;
}

#charList li {
  padding: 5px;
}

#charList li:nth-child(even) {
  background: rgb(207, 205, 201);
}

#charList li a {
  display: block;
  font-family: Helvetica;
  font-size: 20px;
  color: rgb(18, 19, 17);
  text-decoration: none;
}

/* Le contenu wikia chargé */
.webpage {
  width:1000px;
  height:600px;
  /*style="overflow:auto;*/
  /*border:5px ridge blue;*/
}
