/*On charge notre police qui est celle du jeu*/
@font-face {
  font-family: FireEmblemFont;
  src: url('http://localhost/FEAcharapp/fonts/FOT-ChiaroStd-B.otf');
}

html {
  font-family: FireEmblemFont, Helvetica;
  background: rgb(242, 217, 176);
}

body {
  /*background-image: url("../img/backgroundFireEmblemAwakening.jpg");*/
  margin: 0;
}

.wrapper {
  display : flex;
  padding: 10px;
}

.headerwebsite{
  margin: 0;
  background: rgb(42, 33, 18);
  padding: 10px;
}



/*L'image utilisée pour revenir à l'accueil*/
.ImgBackHome {
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 20px;
}

/*---------------- Concerne Index.html -----------------*/

/* Logo principal */
.FELogo{
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

.IndexContent {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.MainIntro {
  text-align: center;
}

.GameChooser {
  padding: 20px;
}

.FireEmblemThumbnail {
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
  transition: 0.5s ease-out;
}

.FireEmblemThumbnail:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*------------------ Concerne FEAHome.html --------------------*/

.FEAhomecontent{
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.categoriechoicecontainer{
  margin-top: 50px;
}

.categoriechoice{
  text-decoration: none;
  color: rgb(71, 54, 28);
  border: 1px solid rgb(110, 108, 93);
  padding: 10px;
  margin-right: 20px;
}

.categoriechoice:hover{
  background: rgb(42, 33, 18);
  color: rgb(252, 240, 187);
}

.FEAhomecontent_p{
  margin-top: 150px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.headerwebsite h1{
  display: inline-block;
  color: rgb(252, 240, 187);
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 50px;
}

.headerwebsite a{
  padding-left: 10px;
  text-decoration: none;
  color: rgb(252, 240, 187);
  margin-left: 20px;
}

.headerwebsite nav a:hover {
  background-color: rgb(252, 240, 187);
  color: rgb(71, 54, 28);
  border-color: rgb(106, 79, 49);
}

.headerwebsite nav{
  padding-left: 10px;
  padding-bottom: 10px;
}

.headerwebsite nav a{
  padding: 5px;
  text-decoration: none;
  color: rgb(252, 240, 187);
  border: 1px solid rgb(252, 240, 187);
}

.formulaireRecherche {
  padding-right: 20px;
}

#searchchar {
  display: block;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 20px;
  background: rgb(251, 241, 216);
  color: rgb(62, 41, 12);
  border-color: rgb(110, 108, 93);
  border-bottom: 0; /* Petit fix pour éviter le stack de border */
  /*font-family: Helvetica;*/
}

/* ~~~~~~~ modifie le style de la scrollbar ~~~~~~~~~~~~*/
/* Code de base trouvé ici : https://codepen.io/devstreak/pen/dMYgeO*/

#charList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#charList::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#charList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(42, 33, 18);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#charList {
  margin-top: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  border: 2px solid rgb(110, 108, 93);
  max-height: 500px;
  overflow: auto;
  border-collapse: collapse;
}

#charList li {
  padding: 5px;
  background: rgb(251, 241, 216);
  border : 1px solid rgb(110, 108, 93);
}

#charList li a {
  display: block;
  /*font-family: Helvetica;*/
  line-height: 20px;
  font-size: 20px;
  color: rgb(62, 41, 12);
  text-decoration: none;
}

/* L'image du perso*/
.imageHeros {
  display: none;
  max-width: 200px;
  max-height: 200px;
}

/* Les entêtes de chaque catégories ont les masques pour éviter quels n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.entete {
  display: none;
}

.enteteClass {
  display: none;
}

/* Le contenu généré dynamiquement grâce à jQuery qui donne la description du perso, ses classes */
.dynamicContent {
  color: rgb(62, 41, 12);
}
/*--------------------- Propre à la page Builder ----------------------*/

/* La carte du builder au milieu */
/* ont masque pour éviter que ça n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.HeroBuildCard {
  display: flex;
  min-width: 780px;
  max-width: 780px;
  max-height: 400px;
  background-color: #cca44f;
  display: none;
  line-height: 20px;
}

.HeroImgBuilderContainer {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 380px;
  min-width: 150px;
  max-width: 150px;
  background-color: #ab7535;
}

.imageHerosBuilder {
  max-width: 150px;
}

/*Contiens le span et le tableau des talents choisis*/
.TalentsCardContainer{
  margin-right: 10px;
}

.NomHerosBuilder {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  min-width: 200px;
  max-width: 200px;
  max-height: 20px;
  background-color: #021732;
  color: #ede5d0;
  line-height: 20px;
}

/* Le tableau pour recevoir les talents choisis */
.TalentsChoosenBuilder {
  min-width: 600px;
  max-width: 600px;
  vertical-align: middle;
  line-height: 20px;
}

.TalentsChoosenBuilder tr{
  min-width: 600px;
  max-width: 600px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsListclass table tr */
  background-color: #f1daa8;
  overflow: auto;
  max-height: 52px;
}

.drop {
  max-height: 52px;
}

.TalentsChoosenBuilder td{
  flex-direction: row;
  font-size: 14px;
  border: 0;
  margin-bottom: 5px;
  display: inline-block;
  min-height: 50px;
}

/* Ceci cible la première td de chaque tr (l'image et nom du talent)*/
.TalentsChoosenBuilder tr td:first-child{
  min-width: 130px;
}

.TalentsChoosenBuilder td:nth-child(2){
  padding-left: 5px;
  max-width: 400px;
  min-width: 400px;
}

/* Propre à la classe drag pour modifier le pointeur de la souris */
.drag{

}

.drag td{
  margin:0;
}

.drag:hover {
  cursor : grab;
  cursor : -webkit-grab;
}

.drag:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* ~~~~~~~ modifie le style de la scrollbar ~~~~~~~~~~~~*/
/* Code de base trouvé ici : https://codepen.io/devstreak/pen/dMYgeO*/

#TalentsList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#TalentsList::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#TalentsList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(42, 33, 18);
}

.TalentsListclass .drag {
  display: inline-block;
  border : 1px solid rgb(110, 108, 93);
  border-top: 0; /* Evite la superposition des borders */
  border-left: 0; /* Evite la superposition des borders */
  border-collapse: collapse;
}

/* C'est la div qui contient nos classes dispo pour le perso */
.TalentsListclass {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  max-width: 428px;
  max-height: 550px;
  overflow: auto;
  border-collapse: collapse;
}

.TalentsListclass table tr {
  overflow: auto;
  min-width: 415px;
  max-width: 415px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsChoosenBuilder td */
}

/* Ceci cible la première td de chaque tr dans la colonne de droite (l'image et nom du talent)*/
.TalentsListclass tr td:first-child{
  min-width: 130px;
}

.TalentsListclass td{
  vertical-align: middle;
  font-size: 14px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  line-height: 20px;
  max-width: 420px;
}

.TalentsListclass img{
  vertical-align: middle;
}

/* Pour mettre le tableau skill 2 en dernier */
.tableskill2{
  order: 2;
}

/* Le style de la classe de la croix pour retirer le talent de la zone de drop */
.goback{
  color: rgb(209, 19, 1);
  width: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.OptionsMenu {
  padding-top: 50px;
}

/* Bouton nous permettant de sauvegarder */
.buildsave{
  display: block;
  margin: 0 auto;
  max-height: 50px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-family: FireEmblemFont;
  font-size: 20px;
  background: rgb(117, 219, 27);
  color: rgb(85, 57, 36);
  transition: all .2s ease-in-out;
}

.buildsave:hover{
  transform: scale(1.1);
}

.namefilebuildsave {
  font-family: FireEmblemFont;
  width: 300px;
  display: block;
  margin:0 auto;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

/*--------------------- Propre à la page about.html ----------------------*/

.headerwebsiteabout{
  height: 164px;
}

.about_me {
  margin-left: 50px;
  padding: 10px;
  border: 1px solid rgb(110, 108, 93);
}

.about_me h2{
  font-family: Verdana;
  font-weight: 100;
  padding-bottom: 20px;
}

.about_1_text {
  padding: 10px;
  padding-bottom: 50px;
}

.about_1_text h2 {
  font-family: Verdana;
  font-weight: 100;
  padding-bottom: 20px;
}

footer {
  background: rgb(42, 33, 18);
}
