body {
  background-image: url("../img/backgroundFireEmblemAwakening.jpg");
}

#searchchar {
  display: block;
  width: 300px;
}

#charList {
  margin-top: 0;
  padding: 0;
  width: 300px;
  list-style-type: none;
  border: 1px solid #c3c3c3;
  max-height: 500px;
  overflow: auto;
}

#charList li {
  padding: 5px;
  background: rgb(207, 205, 201);
}

/*#charList li:nth-child(even) {
  background: rgb(207, 205, 201);
}*/

#charList li a {
  display: block;
  font-family: Helvetica;
  font-size: 20px;
  color: rgb(18, 19, 17);
  text-decoration: none;
}

/* Le contenu wikia chargé */
.webpage {
  width:1000px;
  height:600px;
  /*style="overflow:auto;*/
  /*border:5px ridge blue;*/
}

/* L'image du perso*/
.imageHeros {
  max-width: 200px;
  max-height: 200px;
}

/* Les entêtes de chaque catégories ont les masques pour éviter quels n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.entete {
  display: none;
}

.enteteClass {
  display: none;
}
