/*On charge notre police qui est celle du jeu*/
@font-face {
  font-family: FireEmblemFont;
  src: url('http://localhost/FEAcharapp/fonts/FOT-ChiaroStd-B.otf');
}

html {
  font-family: FireEmblemFont, Helvetica;
}

body {
  background-image: url("../img/backgroundFireEmblemAwakening.jpg");
}

.headerwebsite{
  margin: 0;
  background: rgb(42, 33, 18);
}

/*L'image utilisée pour revenir à l'accueil*/
.ImgBackHome {
  max-width: 200px;
  padding-top: 10px;
}

.headerwebsite h1{
  display: inline-block;
  color: rgb(252, 240, 187);
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 40px;
}

.headerwebsite a{
  padding-left: 10px;
  text-decoration: none;
  color: rgb(252, 240, 187);
}

.headerwebsite nav a:hover {
  background-color: rgb(252, 240, 187);
  color: rgb(71, 54, 28);
  border-color: rgb(106, 79, 49);
}

.headerwebsite nav{
  padding-left: 10px;
  padding-bottom: 10px;
}

.headerwebsite nav a{
  padding: 5px;
  text-decoration: none;
  color: rgb(252, 240, 187);
  border: 1px solid rgb(252, 240, 187);
}

.wrapper {
  display : flex;
  background: rgba(255, 255, 255, 0.80);
}

.formulaireRecherche {
  padding-right: 20px;
}

#searchchar {
  display: block;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 20px;
  /*font-family: Helvetica;*/
}

#charList {
  margin-top: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  border: 1px solid #c3c3c3;
  max-height: 500px;
  overflow: auto;
}

#charList li {
  padding: 5px;
  background: rgb(207, 205, 201);
}

/*#charList li:nth-child(even) {
  background: rgb(207, 205, 201);
}*/

#charList li a {
  display: block;
  /*font-family: Helvetica;*/
  line-height: 20px;
  font-size: 20px;
  color: rgb(18, 19, 17);
  text-decoration: none;
}

/* Le contenu dynamiquement chargé */
.webpage {
  width:1000px;
  height:600px;
  /*style="overflow:auto;*/
  /*border:5px ridge blue;*/
}

/* L'image du perso*/
.imageHeros {
  max-width: 200px;
  max-height: 200px;
}

/* Les entêtes de chaque catégories ont les masques pour éviter quels n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.entete {
  display: none;
}

.enteteClass {
  display: none;
}

/*--------------------- Propre à la page Builder ----------------------*/

/* La carte du builder au milieu */
/* ont masque pour éviter que ça n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.HeroBuildCard {
  display: flex;
  min-width: 600px;
  max-width: 600px;
  max-height: 400px;
  background-color: #cca44f;
  display: none;
}

.HeroImgBuilderContainer {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 380px;
  min-width: 150px;
  max-width: 150px;
  background-color: #ab7535;
}

.imageHerosBuilder {
  max-width: 150px;
}

.NomHerosBuilder {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  min-width: 200px;
  max-width: 200px;
  max-height: 20px;
  background-color: #021732;
  color: #ede5d0;
  line-height: 20px;
}

/* Le tableau pour recevoir les talents choisis */
.TalentsChoosenBuilder {
  min-width: 415px;
  max-width: 415px;
}

.TalentsChoosenBuilder tr{
  min-width: 415px;
  max-width: 415px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsListclass table tr */
  background-color: #f1daa8;
  overflow : auto;
}

.TalentsChoosenBuilder td{
  flex-direction: row;
  font-size: 14px;
  border: 0;
  margin-bottom: 5px;
  display: inline-block;
  min-height: 50px;
}

/* Propre à la classe drag pour modifier le pointeur de la souris */
.drag{

}

.drag td{
  margin:0;
}

.drag:hover {
  cursor : grab;
  cursor : -webkit-grab;
}

.drag:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
/* C'est la div qui contient nos classes dispo pour le perso */
.TalentsListclass {
  display: flex;
  flex-direction: column;
}

.TalentsList table tr {
  overflow: auto;
  min-width: 415px;
  max-width: 415px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsChoosenBuilder td */
}

.TalentsListclass td{
  font-size: 14px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}

/* Pour mettre le tableau skill 2 en dernier */
.tableskill2{
  order: 2;
}

/* Le style de la classe de la croix pour retirer le talent de la zone de drop */
.goback{
  color: rgb(209, 19, 1);
  font-weight: bold;
}

/* Bouton nous permettant de sauvegarder */
.buildsave{
  max-height: 50px;
}
