html {
  font-family: Helvetica;
}

body {
  background-image: url("../img/backgroundFireEmblemAwakening.jpg");
}

.headerwebsite{
  margin: 0;
  background: rgb(0, 65, 217);
  padding-bottom: 50px;
  /*margin-bottom: 50px;*/
}

.headerwebsite h1{
  display: block;
  color: rgb(245, 255, 130);
  padding: 10px;
  margin: 0;
}

.headerwebsite a {
  padding-left: 10px;
  text-decoration: none;
  color: rgb(245, 255, 130);
}

.headerwebsite a:hover {
  color: rgb(255, 255, 255);
}

.wrapper {
  display : flex;
  background: rgba(255, 255, 255, 0.80);
}

.formulaireRecherche {
  padding-right: 20px;
}

#searchchar {
  display: block;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: Helvetica;
}

#charList {
  margin-top: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  border: 1px solid #c3c3c3;
  max-height: 500px;
  overflow: auto;
}

#charList li {
  padding: 5px;
  background: rgb(207, 205, 201);
}

/*#charList li:nth-child(even) {
  background: rgb(207, 205, 201);
}*/

#charList li a {
  display: block;
  font-family: Helvetica;
  font-size: 20px;
  color: rgb(18, 19, 17);
  text-decoration: none;
}

/* Le contenu dynamiquement chargé */
.webpage {
  width:1000px;
  height:600px;
  /*style="overflow:auto;*/
  /*border:5px ridge blue;*/
}

/* L'image du perso*/
.imageHeros {
  max-width: 200px;
  max-height: 200px;
}

/* Les entêtes de chaque catégories ont les masques pour éviter quels n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.entete {
  display: none;
}

.enteteClass {
  display: none;
}

/*--------------------- Propre à la page Builder ----------------------*/

/* La carte du builder au milieu */
/* ont masque pour éviter que ça n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.HeroBuildCard {
  display: flex;
  min-width: 600px;
  max-width: 600px;
  max-height: 400px;
  background-color: #cca44f;
  display: none;
}

.HeroImgBuilderContainer {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 380px;
  min-width: 150px;
  max-width: 150px;
  background-color: #ab7535;
}

.imageHerosBuilder {
  max-width: 150px;
}

.NomHerosBuilder {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  min-width: 200px;
  max-width: 200px;
  max-height: 20px;
  background-color: #021732;
  color: #ede5d0;
}

/* Le tableau pour recevoir les talents choisis */
.TalentsChoosenBuilder {
  min-width: 415px;
  max-width: 415px;
}

.TalentsChoosenBuilder td{
  border: 0;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #f1daa8;
  min-width: 415px;
  max-width: 415px;
  min-height: 55px;

}
