/*On charge notre police qui est celle du jeu*/
@font-face {
  font-family: FireEmblemFont;
  src: url('https://alexandreblin.ovh/FireEmblemStrategicApp/fonts/FOT-ChiaroStd-B.otf');
}

html {
  font-family: FireEmblemFont, Helvetica;
  background: rgb(230, 226, 226);
}

body {
  /*background-image: url("../img/backgroundFireEmblemAwakening.jpg");*/
  margin: 0;
}

.wrapper {
  display : flex;
  padding: 10px;
  justify-content: center;
}

.headerwebsite{
  margin: 0;
  background: rgb(42, 33, 18);
  padding: 10px;
}

footer {
  margin-top: 100px;
  background: rgb(42, 33, 18);
  padding: 20px;
  color: rgb(252, 240, 187);
}
footer a{
  text-decoration: none;
  color: rgb(252, 240, 187);
  font-family: Helvetica;
  font-weight: 100;
}
footer i{
  font-size: 30px;
  padding-right: 5px;
}
footer a:hover{
  color: rgba(252, 240, 187, 0.7);
}




/*L'image utilisée pour revenir à l'accueil*/
.ImgBackHome {
  max-width: 200px;
  padding-top: 60px;
  padding-bottom: 20px;
}

/*---------------- Concerne Index.html -----------------*/

/* Logo principal */
.FELogo{
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

.IndexContent {
  color: rgb(62, 41, 12);
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.MainIntro {
  text-align: center;
  color: rgb(38, 31, 29);
}

.GameChooser {
  padding: 20px;
}
.GameChooser a{
  display: inline-block;
  padding: 20px;
}

.FireEmblemThumbnail {
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
  transition: 0.5s ease-out;
}

.FireEmblemThumbnail:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
/* Pour désactiver l'effet hover sur l'image teaser montrant ainsi que c'est pas accessible encore */
.turnedoff{
  pointer-events: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*------------------ Concerne FEAHome.html --------------------*/

.FEAhomecontent{
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.FEAhomecontent h2{
  color: rgb(38, 31, 29);
}

.categoriechoicecontainer{
  margin-top: 50px;
}

.categoriechoice{
  text-decoration: none;
  color: rgb(71, 54, 28);
  border: 1px solid rgb(110, 108, 93);
  padding: 10px;
  margin-right: 20px;
}

.categoriechoice:hover{
  background: rgb(42, 33, 18);
  color: rgb(252, 240, 187);
}

.FEAhomecontent_p{
  color: rgb(62, 41, 12);
  margin-top: 150px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.headerwebsite h1{
  display: inline-block;
  color: rgb(252, 240, 187);
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 50px;
}

.headerwebsite a{
  padding-left: 10px;
  text-decoration: none;
  color: rgb(252, 240, 187);
  margin-left: 20px;
}

.headerwebsite nav a:hover {
  background-color: rgb(252, 240, 187);
  color: rgb(71, 54, 28);
  border-color: rgb(106, 79, 49);
}

.headerwebsite nav{
  padding-left: 10px;
  padding-bottom: 10px;
}

.headerwebsite nav a{
  padding: 5px;
  text-decoration: none;
  color: rgb(252, 240, 187);
  border: 1px solid rgb(252, 240, 187);
}

.formulaireRecherche {
  padding-right: 10px;
}

.charaSearch {
  display: block;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 20px;
  background: rgb(251, 241, 216);
  color: rgb(62, 41, 12);
  border-color: rgb(110, 108, 93);
  border-bottom: 0; /* Petit fix pour éviter le stack de border */
  /*font-family: Helvetica;*/
}

/* ~~~~~~~ modifie le style de la scrollbar ~~~~~~~~~~~~*/
/* Code de base trouvé ici : https://codepen.io/devstreak/pen/dMYgeO*/

.listeHeros::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.listeHeros::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.listeHeros::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(42, 33, 18);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.listeHeros {
  margin-top: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  border: 2px solid rgb(110, 108, 93);
  max-height: 500px;
  overflow: auto;
  border-collapse: collapse;
}

.listeHeros li {
  padding: 5px;
  background: rgb(251, 241, 216);
  border : 1px solid rgb(110, 108, 93);
}

.listeHeros li a {
  display: block;
  /*font-family: Helvetica;*/
  line-height: 20px;
  font-size: 20px;
  color: rgb(62, 41, 12);
  text-decoration: none;
}

/* L'image du perso*/
.imageHeros {
  display: none;
  width: 150px;
  height: 380px;
}

.HeroText{
  padding-left: 20px;
  padding-right: 20px;
}

/* Les entêtes de chaque catégories ont les masques pour éviter quels n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.entete {
  display: none;
}

.enteteClass {
  display: none;
}

/* Le contenu généré dynamiquement grâce à jQuery qui donne la description du perso, ses classes */
.dynamicContent {
  display: flex;
  color: rgb(62, 41, 12);
  max-width: 1000px;
}
/*--------------------- Propre à la page characterbuilder.html ----------------------*/

/* La carte du builder au milieu */
/* ont masque pour éviter que ça n'apparaissent au début vu que la sélection par l'utilisateur n'a pas été faite */
.HeroBuildCard {
  display: flex;
  min-width: 780px;
  max-width: 780px;
  max-height: 400px;
  background-color: #cca44f;
  display: none;
  line-height: 20px;
}

.HeroImgBuilderContainer {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 380px;
  min-width: 150px;
  max-width: 150px;
  background-color: #ab7535;
}

.imageHerosBuilder {
  max-width: 150px;
}

/*Contiens le span et le tableau des talents choisis*/
.TalentsCardContainer{
  margin-right: 10px;
}

.NomHerosBuilder {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  min-width: 200px;
  max-width: 200px;
  max-height: 20px;
  background-color: #021732;
  color: #ede5d0;
  line-height: 20px;
}

/* Le tableau pour recevoir les talents choisis */
.TalentsChoosenBuilder {
  min-width: 600px;
  max-width: 600px;
  vertical-align: middle;
  line-height: 20px;
}

.TalentsChoosenBuilder tr{
  min-width: 600px;
  max-width: 600px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsListclass table tr */
  background-color: #f1daa8;
  overflow: auto;
  max-height: 52px;
}

.drop {
  max-height: 52px;
}

.TalentsChoosenBuilder td{
  flex-direction: row;
  font-size: 14px;
  border: 0;
  margin-bottom: 5px;
  display: inline-block;
  min-height: 50px;
}

/* Ceci cible la première td de chaque tr (l'image et nom du talent)*/
.TalentsChoosenBuilder tr td:first-child{
  min-width: 130px;
}

.TalentsChoosenBuilder td:nth-child(2){
  padding-left: 5px;
  max-width: 400px;
  min-width: 400px;
}

/* Propre à la classe drag pour modifier le pointeur de la souris */
.drag{

}

.drag td{
  margin:0;
}

.drag:hover {
  cursor : grab;
  cursor : -webkit-grab;
}

.drag:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* ~~~~~~~ modifie le style de la scrollbar ~~~~~~~~~~~~*/
/* Code de base trouvé ici : https://codepen.io/devstreak/pen/dMYgeO*/

.TalentsListclass::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.TalentsListclass::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.TalentsListclass::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(42, 33, 18);
}

/* Customise le message qui apparait pour indiquer à l'utilisateur ce qu'il doit faire */
.messageChooseParent{
  font-size: 24px;
  color: rgb(85, 57, 36);
  padding: 20px 0px 20px 20px;
}

/* C'est la div qui contient nos classes dispo pour le perso */
.TalentsListclass {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  max-width: 428px;
  max-height: 550px;
  overflow: auto;
  border-collapse: collapse;
  background: rgb(252, 240, 187);
}

.TalentsListclass .drag {
  display: inline-block;
  border : 1px solid rgb(110, 108, 93);
  border-top: 0; /* Evite la superposition des borders */
  border-left: 0; /* Evite la superposition des borders */
  border-collapse: collapse;
}

.TalentsListclass table tr {
  overflow: auto;
  min-width: 415px;
  max-width: 415px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsChoosenBuilder td */
}

/* Ceci cible la première td de chaque tr dans la colonne de droite (l'image et nom du talent)*/
.TalentsListclass tr td:first-child{
  min-width: 130px;
}

.TalentsListclass td{
  vertical-align: middle;
  font-size: 14px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  line-height: 20px;
  max-width: 420px;
}

.TalentsListclass img{
  vertical-align: middle;
}

/* Pour mettre le tableau skill 2 en dernier */
.tableskill2{
  order: 2;
}

.tableskill1 .drag:last-child{
  border-bottom: 0; /* Empêche le stack des borders */
}

/* Le style de la classe de la croix pour retirer le talent de la zone de drop */
.goback{
  color: rgb(209, 19, 1);
  width: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.OptionsMenu {
  padding-top: 50px;
}

/* Bouton nous permettant de sauvegarder */
.buildsave{
  display: block;
  margin: 0 auto;
  max-height: 50px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-family: FireEmblemFont;
  font-size: 20px;
  background: rgb(117, 219, 27);
  color: rgb(85, 57, 36);
  transition: all .2s ease-in-out;
  padding: 10px;
}

.buildsave:hover{
  transform: scale(1.1);
}

.namefilebuildsave {
  font-family: FireEmblemFont;
  width: 300px;
  display: block;
  margin:0 auto;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

/*--------------------- Propre à la page about.html ----------------------*/

.headerwebsiteabout{
  height: 164px;
}

.wrapperabout{
  max-width: 1000px;
  margin: 0 auto;
}

.about_me {
  color: rgb(62, 41, 12);
  margin-left: 80px;
  padding: 10px;
}

.about_me h2{
  color: rgb(38, 31, 29);
  font-family: Verdana;
  font-weight: 100;
  padding-bottom: 20px;
}
.icondefault {
  color: rgb(38, 31, 29);
  font-size: 24px;
}
.icondefault:hover {
  color: rgba(38, 31, 29, 0.7);
}
.about_1 {
  max-width: 1000px;
}
.about_1_text {
  color: rgb(62, 41, 12);
  padding: 10px;
  padding-bottom: 50px;
}

.about_1_text h2 {
  color: rgb(38, 31, 29);
  font-family: Verdana;
  font-weight: 100;
  padding-bottom: 20px;
}

/* ------------------ Propre à la page errorpage.php -------------------------*/

.errormessage{
  padding-top: 100px;
  /* margin: 0 auto; */
  text-align: center;
  font-size: 24px;
  color: red;
}

/* ------------------ Propre à la page contactme.php -------------------------*/

/* Tout le contenu de la page contactme.php (texte explicatif + formulaire)*/
.contactpagemaincontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactmeexplain{
  text-align: center;
  font-size: 20px;
  padding-bottom: 60px;
  padding-top: 40px;
}
.p-objectmsg, .p-email, .p-textmsg, .p-submitemail{
  text-align: center;
}
/* Les textes devant les inputs (votre adresse email, etc)*/
.inputdesc{
  display: inline-block;
  min-width: 200px;
  text-align: right;
}
.inputdescemail{
  text-align: right;
}
.class-objectmsg, .class-email{
  min-width: 350px;
  max-width: 350px;
}
.class-textmsg{
  max-width: 600px;
}
.validationform{
  display:flex;
  justify-content: center;
}
.submitemail{
  padding: 20px 40px; /* 20px top et bot, 40px left et right */
  background: rgb(252, 240, 187);
  border: 2px solid rgb(42, 33, 18);
  font-size: 20px;
  color: rgb(42, 33, 18);
}
.submitemail:hover{
  background: rgb(42, 33, 18);
  color: rgb(252, 240, 187);
  cursor: pointer;
}

.emailmessage{
  text-align: center;
}



/*
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
                                    RESPONSIVE
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

/*
-------------------------------------------------
 deuxième level affichage
-------------------------------------------------
*/
/* C'est à partir de 1465px que la barre horizontale apparait sur notre liste des talents ce qui indique que à partir de là notre liste va avoir des soucis (A vérifier une fois sur plus grand écran) */
@media (min-width: 1070px) and (max-width: 1465px){
  /* concerne le champ de recherche, la liste des héros et le select du choix de parent */
  .charaSearch {
    width: 130px;
  }
  .listeHeros {
    width: 130px;
  }
  .myParentclass {
    width: 130px;
  }

  /* La carte où on place les talents choisis */
  .HeroBuildCard{
    min-width: 500px;
    max-width: 500px;
    max-height: 1080px;
  }
  .HeroImgBuilderContainer{
    min-width: 100px;
    min-height: 250px;
    max-height: 250px;
    margin-top: 53px;
  }
  .imageHerosBuilder {
    max-width: 100px;
  }
  .TalentsCardContainer{
    margin-right: 10px;
  }
  /* Le tableau pour recevoir les talents choisis */
  .TalentsChoosenBuilder {
    min-width: 375px;
    max-width: 375px;
  }
  .TalentsChoosenBuilder tr{
    min-width: 375px;
    max-width: 375px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsListclass table tr */
  }
  .TalentsChoosenBuilder td:nth-child(2){
    max-width: 360px;
    min-width: 360px;
  }

  /* Le tableau listant les talents choisissables */
  .TalentsListclass{
    max-width: 395px;
  }
  .TalentsListclass table tr {
    min-width: 375px;
    max-width: 375px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsChoosenBuilder td */
  }

  .formulaireRecherche {
    justify-content: center;
  }
  .dynamicContent {
    max-width: 800px;
  }
  .wrapperabout{
    max-width: 800px;
    margin: 0 auto;
  }
}


/*
-------------------------------------------------
 troisième level affichage
-------------------------------------------------
*/
@media (min-width: 520px) and (max-width: 1069px) {
  .headerwebsite {
    font-size: 14px;
  }
  /* C'est à partir de cette résolution que la localisation de la page touche la navigation */
  @media (max-width: 625px){
    .headerwebsite nav{
      margin-top: 40px;
    }
  }

  .wrapper{
    flex-direction: column;
  }

  /* On modifie l'ordre pour que les 2 listes se regroupent */
  .TalentsListclass{
    order: 1;
    margin: 0 auto;
  }
  .MainContent{
    order: 2;
  }

  .formulaireRecherche {
    width: 200px;
    margin: 0 auto;
  }
  .myParentclass {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .HeroBuildCard{
    margin: 0 auto;
    margin-top: 20px;
  }

  .dynamicContent {
    max-width: 600px;
    margin: 0 auto;
  }

  /* A partir de cette taille notre carte Heros non réduite ne passe plus donc on switch à celle faite précedemment */
  @media (max-width: 800px){
    /* La carte où on place les talents choisis */
    .HeroBuildCard{
      min-width: 500px;
      max-width: 500px;
      max-height: 1080px;
      margin: 0 auto;
      margin-top: 20px;
    }
    .HeroImgBuilderContainer{
      min-width: 100px;
      min-height: 250px;
      max-height: 250px;
      margin-top: 53px;
    }
    .imageHerosBuilder {
      max-width: 100px;
    }
    .TalentsCardContainer{
      margin-right: 10px;
    }
    /* Le tableau pour recevoir les talents choisis */
    .TalentsChoosenBuilder {
      min-width: 375px;
      max-width: 375px;
    }
    .TalentsChoosenBuilder tr{
      min-width: 375px;
      max-width: 375px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsListclass table tr */
    }
    .TalentsChoosenBuilder td:nth-child(2){
      max-width: 360px;
      min-width: 360px;
    }
  }

  /* ~~~~~~~~~ page about.html ~~~~~~~~~~*/

  .wrapperabout{
    max-width: 600px;
    margin: 0 auto;
  }

  .about_me {
    margin-left: 0px;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
}
/* ~~~~~~~~~~~ page contactme.php ~~~~~~~~~~~*/
/* A partir de cette taille le textarea n'entre plus */
@media (max-width:625px) {
  .class-textmsg{
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
}
/* Concerne uniquement le texte "votre adresse email :" pour recentrer comme l'autre une fois que l'input passe en dessous de ces textes */
@media (max-width:575px) {
  .inputdescemail{
    text-align: center;
  }
}

/*
-------------------------------------------------
 quatrième level affichage
-------------------------------------------------
*/
/* Résolution smartphone*/
@media (min-width: 300px) and (max-width: 519px) {
  .headerwebsite {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .ImgBackHome {
    display: block;
    padding: 0;
    margin: 0 auto;
  }
  .headerwebsite h1 {
    position: inherit; /* Plus tôt dans le code on avait mis un absolute de top:50px  */
  }
  .headerwebsite nav {
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 0;
  }
  .headerwebsite a{
    margin: 0;
  }

  /* Concerne index.html */
  .FELogo{
    max-width: 300px;
    margin: 0 auto;
  }
  .IndexContent{
    display: flex;
    flex-direction: column;
  }
  .FireEmblemThumbnail {
    max-width: 250px;
    margin: 0 auto;
  }
  .GameChooser{
    padding: 0;
  }

  /* Concerne la page FEAHome.html */
  /* A partir de cette taille nos liens se chevauchent, donc on les mets en affichage colonne plutôt que en ligne (en vrai c'est à 403 mais c'est classe de mettre 404)*/
  @media (max-width: 404px){
    .categoriechoicecontainer a {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }

  /* Concerne la page about.html */
  .wrapperabout {
    flex-direction: column;
  }
  .about_me {
    margin-left: 0;
  }

  /* Concerne la page characterbuilder.html */
  .wrapper{
    flex-direction: column;
    justify-content: center;
  }
  .formulaireRecherche {
    margin: 0 auto;
  }
  .myParentclass {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  /* On modifie l'ordre pour que les 2 listes se regroupent */
  .TalentsListclass{
    order: 1;
    margin: 0 auto;
  }
  .MainContent{
    order: 2;
  }

  /* La carte où on place les talents choisis */
  .HeroBuildCard{
    min-width: 500px;
    max-width: 500px;
    max-height: 1080px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .HeroImgBuilderContainer{
    min-width: 100px;
    min-height: 250px;
    max-height: 250px;
    margin-top: 53px;
  }
  .imageHerosBuilder {
    max-width: 100px;
  }
  .TalentsCardContainer{
    margin-right: 10px;
  }
  /* Le tableau pour recevoir les talents choisis */
  .TalentsChoosenBuilder {
    min-width: 375px;
    max-width: 375px;
  }
  .TalentsChoosenBuilder tr{
    min-width: 375px;
    max-width: 375px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsListclass table tr */
  }
  .TalentsChoosenBuilder td:nth-child(2){
    max-width: 360px;
    min-width: 360px;
  }

  @media (max-width:510px){
    /* La carte où on place les talents choisis */
    .HeroBuildCard{
      min-width: 200px;
      max-width: 320px;
      max-height: 1080px;
      margin: 0 auto;
      margin-top: 20px;
    }
    .HeroImgBuilderContainer{
      /* On masque l'image pour économiser 100px (ce qui n'est pas rien quand on a vraiment pas grande largeur)*/
      display: none;
    }
    .TalentsCardContainer{
      margin-right: 10px;
    }
    /* Le tableau pour recevoir les talents choisis */
    .TalentsChoosenBuilder {
      min-width: 320px;
      max-width: 320px;
    }
    .TalentsChoosenBuilder tr{
      min-width: 320px;
      max-width: 320px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsListclass table tr */
    }
    .TalentsChoosenBuilder td:nth-child(2){
      max-width: 320px;
      min-width: 320px;
    }
    /* Pour gérer l'affichage du tableau listant tous les talents*/
    @media (max-width:440px) {
      /* C'est la div qui contient nos classes dispo pour le perso */
      .TalentsListclass {
        max-width: 320px;
        max-height: 550px;
      }
      .TalentsListclass .drag *{
        font-size: 10px;
      }
      /* Ceci cible la première td de chaque tr dans la colonne de droite (l'image et nom du talent)*/
      .TalentsListclass tr td:first-child{
        min-width: 105px;
      }
      .TalentsListclass table tr {
        min-width: 320px;
        max-width: 320px; /* C'est la taille qu'on a donné à nos zone de drop donc penser à changer la taille dans .TalentsChoosenBuilder td */
      }

      /* Le tableau pour recevoir les talents choisis */
      .TalentsChoosenBuilder {
        min-width: 300px;
        max-width: 300px;
      }
      .TalentsChoosenBuilder td{
        font-size: 10px;
      }
      .TalentsChoosenBuilder td:nth-child(2){
        padding-left: 0px;
        max-width: 150px;
        min-width: 150px;
      }
      .namefilebuildsave {
        width: 280px;
      }
    }
  }
  /* Concerne la page characterinfo.html */
  /* Au delà de 420px la lecture devient difficile avec l'image prenant presque la moitié de l'écran*/
  @media (max-width:420px) {
    .dynamicContent{
      flex-direction: column;
    }
    .imageHeros{
      margin: 0 auto;
    }
  }
  /* Page Contactme.php */
  /* A partir d'ici les inputs et le textarea vont commencer à être trop grand */
  @media (max-width:444px) {
    .class-textmsg{
      max-width: 300px;
    }
    .class-objectmsg, .class-email{
      min-width: 300px; /* Pour écraser la valeur fixée au début à 350px */
      max-width: 300px;
    }
  }

}
